* {
  margin: 0;
  padding: 0;
  border: solid 1px rgb(9, 65, 82);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body-container {
  width: 100vw;
  background-color: aquamarine;
}

.logo {
  width: 90px;
  height: 45px;
}

.logo:hover {
  border: solid 1px #fff;
  cursor: pointer;
  border-radius: 2px;
}

.navbar {
  width: 100vw;
}

.nav-top {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #131921;
}

.nav-bottom {
  width: 100vw;
  background-color: #232f3e;
}

.botnav {
  display: flex;
}

.navbtn {
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  padding: 5px 5px;
  margin: 8px 9px;
  color: #fff;
  font-size: 14px;
}

.navbtn:hover {
  border: solid 1px #fff;
  cursor: pointer;
  border-radius: 2px;
}

.navtop-left {
  display: flex;
}

.navtop-mid {
  display: flex;
}

.navtop-right {
  display: flex;
  align-items: flex-end;
}
